<section class="business">
            <div class="business-body">
                <p class="indent-wrapped"><span class="name">{{name}}</span></p>
                <p class="indent-wrapped"><span class="type">{{type}}</span></p>
                <p class="indent-wrapped"><span class="address">{{address}}</span></p>
            </div>
        </section>