<header>
    <h1>  Corvallis Business</h1>

    <nav>
        <ul class="navbar-buttons">
            <li class="navbar-item"><a href="/">Main</a></li>
            <li class="navbar-item"><a href="/categories">Categories</a></li>
            <li class="navbar-item"><a href="/addbiz">Add A Business</a></li>
            <!-- Placeholder for additional navbar item -->
            <li class="navbar-item navbar-right"><a href="/search">Search</a></li>
        </ul>
    </nav>
</header>
