<header>
    <!--<h1> <a href="/"> Corvallis Business</a></h1>-->
    <h1>  Corvallis Business</h1>

    <nav>
        <ul class="navbar-buttons">
            <li class="navbar-item"><a href="/">Main</a></li>
            <li class="navbar-item"><a href="/search">Search</a></li>
            <li class="navbar-item"><a href="/new">Add A Business</a></li>
            <!-- Placeholder for additional navbar item -->
        </ul>
    </nav>
</header>
