{{> header}}

<main>
    <div>
        <section class="business">
            <img src="./images/memorial_union.jpg" width=265px height=200px></img><!-- Placeholder image -->
            <div class="business-body">
                <p class="indent-wrapped"><span class="name">Memorial Union</span></p>
                <p class="indent-wrapped"><span class="type">Assorted Food</span></p>
            </div>
        </section>

        <section class="business">
            <img src="./images/cascadia.jpg" width=350px height=197px></img><!-- Placeholder image -->
            <div class="business-body">
                <p class="indent-wrapped"><span class="name">Cascadia Market</span></p>
                <p class="indent-wrapped"><span class="type">Grocery Store</span></p>
            </div>
        </section>

        <section class="business">
            <!-- img src="./images/cascadia.jpg" width=350px height=197px></img><!-- Placeholder image -->
            <div class="business-body">
                <p class="indent-wrapped"><span class="name">Placeholder Name</span></p>
                <p class="indent-wrapped"><span class="type">Placeholder Type</span></p>
            </div>
        </section>

        <section class="business">
            <!-- img src="./images/cascadia.jpg" width=350px height=197px></img><!-- Placeholder image -->
            <div class="business-body">
                <p class="indent-wrapped"><span class="name">Placeholder Name</span></p>
                <p class="indent-wrapped"><span class="type">Placeholder Type</span></p>
            </div>
        </section>

        <section class="business">
            <!-- img src="./images/cascadia.jpg" width=350px height=197px></img><!-- Placeholder image -->
            <div class="business-body">
                <p class="indent-wrapped"><span class="name">Placeholder Name</span></p>
                <p class="indent-wrapped"><span class="type">Placeholder Type</span></p>
            </div>
        </section>

        <section class="business">
            <!-- img src="./images/cascadia.jpg" width=350px height=197px></img><!-- Placeholder image -->
            <div class="business-body">
                <p class="indent-wrapped"><span class="name">Placeholder Name</span></p>
                <p class="indent-wrapped"><span class="type">Placeholder Type</span></p>
            </div>
        </section>
    </div>
</main>

{{> footer}}
