{{> header}}
<!-- we may want to change this... it's unlikely all of these want to be text. -->
<main>
	<div class="input-block">
		<div class="input-element">
			<label for="input-business-name">Business Name</label>
			<input type="text" id="input-business-name">
		</div>
		<div class="input-element">
			<label for="input-business-type">Business Type</label>
			<input type="text" id="input-business-type">
		</div>
		<div class="input-element">
			<label for="input-business-address">Business Address</label>
			<input type="text" id="input-business-address">
		</div>
		<div class="input-element">
			<label for="input-business-phone">Business Phone Number</label>
			<input type="text" id="input-business-phone">
		</div>
		<div class="input-element">
			<label for="input-business-description">Business Description</label>
			<input type="text" id="input-business-description">
		</div>

		<!-- How do we download a file, rename, and place name in JSON?-->
		<div class="input-element">
			<label for="input-business-image-url">Image URL</label>
			<input type="text" id="input-business-url">
		</div>


		<button type="button" id="add-new-place-button" class="add-button">Add Business</button>
	</div>
</main>

{{> footer}}
