{{> header}}
<!-- we may want to change this... it's unlikely all of these want to be text. -->
<main>
	<div class="input-block">
		<div class="input-element">
			<label for="input-business-name">Business Name</label>
			<input type="text" id="input-business-name">
		</div>
		<div class="input-element">
			<label for="input-business-type">Business Type</label>
			<input type="text" id="input-business-name">
		</div>
		<div class="input-element">
			<label for="input-business-address">Business Address</label>
			<input type="text" id="input-business-name">
		</div>

		<!-- How do we download a file, rename, and place name in JSON?-->
		<div class="input-element">
			<label for="input-business-image-url">Image URL</label>
			<input type="text" id="input-business-image-url">
		</div>


		<button type="button" class="add-button">Add Business</button>
	</div>
</main>

{{> footer}}
