{{> header}}
<!-- test -->
<main>
  <div class="info-container">

    <h2>Search page</h2>
    <!--We should have a drop down menu to select from categories (ie food, attraction, etc) -->
    <!--Also a search box so you can look up places -->

  </div>
</main>

{{> footer}}
