{{> header}}

<main>
    <div id="container" class="info-container">

        <h2>Search page</h2>

        <!--Also a search box so you can look up places -->
        <div class="input-block">
            <div class="input-element">
                <select id="business-select">
                    <option value="" disabled selected>Search by category</option>
                    <option value="Various"> Various </option>
                    <option value="Grocery Store"> Grocery Store </option>
                    <option value="Pizzeria"> Pizzeria </option>
                    <option value="Brewery"> Brewery </option>
                    <option value="Indian Restaurant"> Indian Restaurant </option>
                </select>
            </div>
            <div class="input-element">
                <label for="input-search-businesses">Search by name:</label>
                <input type="text" id="input-search-businesses">
            </div>
            <button type="button" id="search-button" class="add-button">Search</button> <!-- if needed -->
        </div>
    </div>

    {{#if_search type}}
        {{#each placeData}}
            {{#if_eq name ../content}}
            {{> business}}
            {{/if_eq}}
        {{/each}}
    {{/if_search}}

    {{#if_category type}}
        {{#each placeData}}
            {{#if_eq type ../content}}
            {{> business}}
            {{/if_eq}}
        {{/each}}
    {{/if_category}}

</main>

{{> footer}}
