header{
	position: relative;
	top: -20px;
	width: 100%;
}

/* Needs to be adjusted for positioning */
h1{
	padding: 10px;
	background-color: #a00826;
	color: white;
	top: 15px;
}

/* This will backfire if we add a header picture, unless we link it to main?
	Maybe do this in a hyperlink on the image instead... */
	
img{
	cursor: pointer;
}

.navbar-buttons{
	 height: 18px;
	 list-style-type: none; /* Removes bullets from list */
	 padding: 5px;
	 background-color: #333333;
	 position: relative;
	 top: -22px;
	 border: none;
}

.navbar-buttons li{
	 display: inline;
}

.navbar-buttons li a{
	 padding: 20px;
	 font-family: Arial;
	 color: white;
	 text-decoration: none;
 }

.navbar-buttons li:hover {
	 background-color: #444444;
}

.navbar-right{
	 float: right;
}

.business{
	position: relative;
	top: -50px;
	display: inline-block;
	margin: 10px;
	width: 350px;
	height: 300px;
	padding: 2px;
	border: 20px solid rgba(0, 0, 0, 0);
	background-color: gray;
	float: left; /* worthless? */
}

.business img{
	display: block;
	margin: auto;
}

.business p{
	font-weight: bold;
	text-align: center;
}

.input-block {
	text-align: right;
	font-weight: bold;
	/*border: 20px solid rgba(0,0,0,0); */
	background-color: gray;
	padding: 20px;
}

.input-element {
	display: flex;
  	align-items: center;
 	font-size: 20px;
 	margin: 10px 0;
}
/*As I just learned about flex, flex A B means devide the space between the elements giving each their weight A, and
	ensure they have minimum space B */
.input-element label {
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	flex: 1 200px;
	margin-right: 10px;
}

.input-element input {
	flex: 5 200px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #aaa;
}

.add-button {
	padding: 10px;
	font-size: 20px;
	background-color: #a00826;
	border: 5px solid #000000;
	color: white;
	cursor: pointer;
}

.info-container h2 {
	position: relative;
	top: -40px;
}
/* Margins on this are goofed... need it to not have whitespace on side. */
footer {
  background-color: #333;
  color: white;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
}

footer .copyright {
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 25px;
  font-weight: 200;
}
